.sweet-alert h2
    margin .2em 0em !important

.sweet-alert p
    color #797979
    // font-size 12px
    text-align left
    font-weight 300
    position relative
    text-align inherit
    float none
    margin 0
    padding 0
    line-height normal
