.app__panel__header
    .foodControls
        button
            @extend .button--blue
            margin 0px 10px
.popup
    .foodControls
        padding-top: 10px;
        padding-bottom 11px
        &__label
            display inherit
            font-weight bold
        &__button
            @extend .button--blue
            font-family inherit
            font-size 15px
            padding 5px 5px 5px 5px
            margin 5px 5px 5px 5px
            text-decoration none
            border none
            height 40px

