.app__panel__header
    .foodControls
        button
            @extend .button--blue
            margin 0px 10px
.popup
    .foodControls
        &__label
            display inherit
        &__button
            @extend .button--blue
            font-family inherit
            font-size 15px
            padding 5px 5px 5px 5px
            margin 5px 5px 5px 5px
            text-decoration none
            border none
