html
body
    padding 0px
    margin 0px
    position relative
    height 100%
    width 100%

body
    overflow hidden

button
    cursor pointer

.button--plain
    border none
    background none

.button--link
    border none
    background none
    color blue--link
    text-decoration underline
    cursor pointer

.button--esri
    background-color rgba(102,102,102,0.80)
    border none
    width 32px
    height 32px
    outline none
    &:hover
        background-color rgba(102,102,102,0.90)
    &:active
        background-color rgba(102,102,102,0.60)
