html
body
    padding 0px
    margin 0px
    position relative
    height 100%
    width 100%

body
    overflow hidden

ul
    list-style none
    padding 0px
    margin 0px

button
    cursor pointer

.button--plain
    border none
    background none

.button--link
    border none
    background none
    color blue--link
    text-decoration underline
    cursor pointer

.button--blue
    font-family inherit
    border none
    color #FFF
    background #6091B2

    &:active
    &:hover
    &:focus
    &.active
        background #E86850

.button--esri
    background-color white
    border none
    width 32px
    height 32px
    border 1px solid #57585A

    &:hover
        background-color rgba(102,102,102,0.90)

    &:active
        background-color rgba(102,102,102,0.60)
