.esriPopup
    .contentPane
        max-height none !important

.homeContainer .home
.locate-button-container .zoomLocateButton
    box-sizing border-box
    height 32px !important
    width 32px !important
    border-radius 0px !important

.esriSimpleSlider
.esriSimpleSliderIncrementButton
.esriSimpleSliderDecrementButton
.searchBtn
.searchInput
    border-radius 0px !important

.esriSimpleSlider
    position fixed !important
    top 20px !important

.esriPopup
    z-index 30 !important

.esriControlsBR
    display none !important
