.esriPopup
    .contentPane
        max-height none !important

.homeContainer .home
.locate-button-container .zoomLocateButton
    box-sizing border-box
    height 32px !important
    width 32px !important
    border-radius 0px !important

.esriSimpleSlider
.esriSimpleSliderIncrementButton
.esriSimpleSliderDecrementButton
.searchBtn
.searchInput
    border-radius 0px !important

.esriSimpleSlider
    position fixed !important
    top 65px !important
    left initial !important
    right 20px !important

.esriPopup
    z-index 30 !important
    font-size .75em !important

    .titlePane
        background-color black !important

    .titleButton.maximize
        display none !important

    .actionsPane
        background-color white !important

    .titlePane
    .actionsPane
        border-radius 0px !important

    .contentPane
        display none !important

    &Wrapper
        box-shadow none !important

    a
        color #00BAFE !important

.esriControlsBR
    display none !important
