.root
.app
    height 100%

.app
    position relative
    &__panel
      width 400px
      height 100%
      position absolute
      right 0
    &__content
      height 100%
      position absolute
      left 0
      right 400px

