.root
.app
    height 100%

.app
    position relative

    &__panel
      width 400px
      height 300px
      position absolute
      right 20px
      bottom 20px
      background-color transparent

.app-chart
    bottom 20px
    left 20px
    height 200px
    width 500px
