cardinal-generator(rule, size)
  &, &__top, &__long
    {rule}-top size
  &, &__bottom, &__long
    {rule}-bottom size
  &, &__left, &__wide
    {rule}-left size
  &, &__right, &__wide
    {rule}-right size

size(height, width=height)
    height height
    width width
