// alignment

.text-left
    text-align left

.text-right
    text-align right

.text-center
    text-align center

.vertical-middle
    vertical-align middle

.vertical-sub
    vertical-align sub

.vertical-baseline
    vertical-align baseline

.float-left
    float left

.float-right
    float right

// display

.absolute
    position absolute

.relative
    position relative

.inline-block
    display inline-block

.table
    display table

.table-row
    display table-row

.table-cell
    display table-cell

// box model

.border-box
    box-sizing border-box

.no-long, .no-top
    top 0px

.no-long, .no-bottom
    bottom 0px

.no-wide, .no-left
    left 0px

.no-wide, .no-right
    right 0px

.no-margin
    cardinal-generator('margin', 0px)

.margin
    cardinal-generator('margin', 1em)

    &--small
        cardinal-generator('margin', .5em)

.no-padding
    cardinal-generator('padding', 0px)

.padding
    cardinal-generator('padding', 1em)

    &--small
        cardinal-generator('padding', .5em)

// table model

.no-border-spacing
    border-spacing 0

// sizing

.fill
    &, &__long
        height 100%
    &, &__wide
       width 100%

    &--50p
        &, &__long
            height 50%
        &, &__wide
            width 50%


// color

.text-inherit-color
    color inherit

.text-white
    color white

.back-white
    background-color white

.text-gray--light
    color gray--light

.back-gray
    background-color gray

.feedback-outline-orange
    &:hover, &:active, &:hover, &:focus
        outline 1px solid orange

// miscellaneous

.clearfix
    overflow auto

.mobile-mq-hide
    @media mobile-mq
        display none

.pointer
    cursor pointer

.no-wrap
    white-space nowrap

.no-border
    border none

.overflow-auto
    overflow auto

.overflow-visible
    overflow visible

.ellipsis
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.z-index-map
    z-index z-indices['map']
