z-indices = {
    map: 30
    controls: 40
    panel: 50
    logo: 60
}

mobile-mq = 'screen and (max-width: 500px)'
tablet-mq = 'screen and (max-width: 1245px)'

white = #FFF
white--translucent = rgba(255, 255, 255, 0.75)
blue--light = #2994ff
gray = rgba(102,102,102,0.9)
gray--light = #DDD
gray--dark = #222327
gray--subtle = #7E7E7E
blue--link = #0000EE
dark--gray= #3F3F41
